<div class="container" style="padding: 5px;">

    <div class="col-sm-11 col-xs-11">
        <div class="custom-angularstrap">
            <input type="text" size="8" class="form-control" ng-model="toAdd" placeholder="Send Account Address">
        </div>
    </div>
    <div class="buttons responsive-buttons pull-right header-button-group">
        <a ng-click="removeRow()" class="btn icon-import btn-default header-button clickable glyphicon glyphicon-remove"></a>
    </div>

    <div class="col-xs-12 buttons responsive-buttons header-button-group" style="margin-top: 5px;">
        <a ng-click="addAddress()" class="btn icon-import btn-default header-button clickable">Add Send Address</a>
    </div>

    <div style="margin-top: 100px;">
        <div class="col-sm-11 col-xs-11">
            <div class="custom-angularstrap">
                <input type="text" size="8" class="form-control" ng-model="toRecieve" placeholder="Recieve Account Address">
            </div>
        </div>
        <div class="buttons responsive-buttons pull-right header-button-group">
            <a ng-click="removeRow()" class="btn icon-import btn-default header-button clickable glyphicon glyphicon-remove"></a>
        </div>

        <div class="col-xs-12 buttons responsive-buttons header-button-group" style="margin-top: 5px;">
            <a ng-click="recieveAddress()" class="btn icon-import btn-default header-button clickable">Add Recieve Address</a>
        </div>
    </div>

    <div ng-repeat="row in accounts track by $index" style="margin-top: 100px">
        <div class="col-sm-6 col-xs-6">
            <p>Account number: {{row.accountNumber}}</p>
        </div>
        <div class="col-sm-6 col-xs-6">
            <p>You have {{row.balance}} coins in this account.</p>
        </div>
    </div>

    <div ng-if="accounts.length > 0">
        <div class="col-sm-6 col-xs-6">
            <div class="buttons responsive-buttons header-button-group" style="margin-top: 5px;">
                <a ng-click="request()" class="btn icon-import btn-default header-button clickable">Request Mix Address</a>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">

        </div>
    </div>
</div>
