<div class="container" style="padding: 5px;">

    <!--<p>You have {{userCoins}} coins in your account.</p>-->

    <div class="row" ng-repeat="row in addresses track by $index" style="padding-left:10px;">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="custom-angularstrap">
                    <input type="text" size="8" class="form-control" ng-model="row.address" placeholder="Account Address" ng-change="handleRowChange($index)">
                </div>
            </div>
        </div>

    <div class="buttons responsive-buttons pull-right header-button-group">
        <a ng-click="mixCoins()" class="btn icon-import btn-default header-button clickable">Mix Coins</a>
    </div>
</div>
